<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.example.myapplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--别名1-->
        <activity android:name=".activity.CustomViewActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <data
                    android:host="www.example.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <!--别名2-->
        <activity android:name=".activity.QueryPhoneNumActivity" />

        <activity android:name=".activity.UserOperateActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.ViewEventActivity" />
        <activity android:name=".activity.ServiceTestActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity
            android:name=".activity.SurfaceActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".h5.VideoFullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activity.MultiScreenTestActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.tasktest.TaskOneActivity" />
        <activity
            android:name=".activity.tasktest.SingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.lee.demo" />
        <activity
            android:name=".activity.tasktest.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.AudioTestActivity" />
        <activity-alias
            android:name="NewActivity1"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_round"
            android:label="Alias1"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="NewActivity2"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher"
            android:label="Alias2"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.example.socrate.myprovider"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".broadcast.MyBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <service android:name=".service.LocalService" />
        <service
            android:name=".service.RemoteService"
            android:process=":remote" />
    </application>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 使用照相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>